@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    Click <a asp-action="Recommendations">here</a> to see the list of restaurant recommendations from other users.
</div>